*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
}
body{
    height: 100vh;
    background-image: linear-gradient(to right,#CBCE91FF, #EA738DFF);
}

.container{
    margin: 80px auto;
    height: 80vh;
    width: 30vw;
    background-image: linear-gradient(to top ,rgb(46, 41, 101),rgb(30, 21, 52),rgb(17, 1, 29));
}
.input-box{
    height: 20vh;
    width: 100%;
    border: 2px solid red;
    display: flex;
    align-items: end;
    justify-content: end;
}
.main{
    display: flex;
    height: 60vh;
    width: 100%;
    flex-wrap: wrap;
}

.items{
    flex-basis: 25%;
    border: 1px solid green;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}
.rowspan{
    border: none;
    background-color: red;
    outline: none;
}

.red-text{
    color:red;
    font-weight: 500;
}

#input{
    width: 80%;
    padding: 20px 1px;
    font-size: 50px;
    text-align: end;
    color: red;
}
