* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
}

main {
    height: 100vh;
    background-image: url('./10.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: cover;
    background-position: center;
    margin: auto;
    width: 100vw;
}


.title {
    color: rgb(0, 255, 140);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    padding: 2px;
}

.cards {
  
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    border: 2px solid red;
}

.cardBox {
    padding: 16px 0px;
    height: 28vh;
   
}

.cards img {
    height: 25vh;
    padding: 0px 20px;
}
@media  (max-width:900px) {
    .cards > img{
        height: 20vh;
    }
}
section div h2 {
    font-size: 29px;
    color: rgb(255, 255, 255);
}

section div span {
    font-size: 42px;
    color: red;
}

.container {
    width: 80vw;
    height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin: auto;
}

.left-container {
    width: 40vw;
    display: flex;
    flex-direction: column;
}

#input {
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: auto;
    width: 270px;
}

.right-container {
    width: 40vw;
    margin-left: 500px;
    display: flex;
    flex-direction: column;
}

.btn {
    font-size: 19px;
    padding: 12px;
    color: rgb(7, 7, 7);
    border: none;
    background-color: rgb(0, 255, 140);
    border-radius: 10px;
    margin: 10px;
}